/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require_self

 */

.user-avatar {
  height: 27px;
  width: 27px;
  margin-right: 0.5em;
  border-radius: 5px;
  border: 1px solid #444444;
}
.text-centered {
  text-align: center;
}

img.face {
  border-radius: 10px;
}
